player-connection-mode=Listen
player-connection-guid=3127513811
player-connection-debug=1
player-connection-project-name=CoolVirus
player-connection-ip=192.168.178.69
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
build-guid=b79c46de322f42ef98679373d47b6e17
